
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2

ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/57a026e9-2696-4ea1-b7f8-631bb00d824b.vsidx

ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6eaf16c0-8423-422f-b972-6afcac78644a.vsidx

ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8954bdbf-5abb-4aaa-b4a9-ffc23fb9d4a5.vsidx

ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a5453364-d50c-4377-ae61-7946ce40a33a.vsidx

ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/read.lock

ConsoleApp1/.vs/ConsoleApp1/v17/.suo
